<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogs Page</title>
</head>
<body>
    <h1 style="align-content: center;">Blogs</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Delectus sit, recusandae cum asperiores odio saepe reiciendis debitis explicabo error, dignissimos odit. Laudantium natus cupiditate quos repudiandae ipsa at temporibus sit debitis, inventore totam accusantium nam deleniti eum modi eos possimus magni aspernatur cum. Ad, modi porro culpa soluta vitae voluptatem! Natus magni animi neque ex possimus maxime sapiente eveniet minus!</p>
</body>
</html>